* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #D1DDE5;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
}

.container {
  background: #303030;
  margin: 50px;
  padding: 50px;
  border-radius: 25px;
}

.title {
  text-align: center;
}



.title:hover {
    color: #F2EBD3;
}

.title span {
  color: #C4BABA;
}

.status-action {
  display: flex;
  margin-top: 25px;
  font-size: 25px;
  justify-content: space-around;
  height: 30px;
}

.status span {
  color: #C4BABA;
}

.reset {
  cursor: pointer;
}

.reset:hover {
  color: #F2EBD3;
}
.grid {
  background: #646F76;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 50px;
  border: 10px solid #646F76;
  border-radius: 10px;
}
.box {
  background: #646F76;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  border-radius: 3px;
  cursor: pointer;
}
.cell, .cell-grid {
  background: #D1DDE5;
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 42px;
  width: 42px;
  color: #353535;
  font-size: 40px;
  border-radius: 3px;
  caret-color: transparent;
  cursor: pointer;
}
.cell-grid{
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.candidate{
  color: #353535;
  font-size: 11px;
  margin-left: 3.4px;
  height: 10px;
  width: 10px;
}
.cell1, .cell-grid1{
  grid-row: 1;
  grid-column: 1;
}
.cell2, .cell-grid2{
  grid-row: 1;
  grid-column:2;
}
.cell3, .cell-grid3{
  grid-row: 1;
  grid-column: 3;
}
.cell4, .cell-grid4{
  grid-row: 2;
  grid-column: 1;
}
.cell5, .cell-grid5{
  grid-row: 2;
  grid-column: 2;
}
.cell6, .cell-grid6{
  grid-row: 2;
  grid-column: 3;
}
.cell7, .cell-grid7{
  grid-row: 3;
  grid-column: 1;
}
.cell8, .cell-grid8{
  grid-row: 3;
  grid-column: 2;
}
.cell9, .cell-grid9{
  grid-row: 3;
  grid-column: 3;
}
.cell:hover {

  border: 2px solid #52BBF7;
}

.n1,
.n2,
.n3,
.n4,
.n5,
.n6,
.n7,
.n8,
.n9 {
  cursor: default;
  color: #11111;
}

.n1::after {
  content: '1';
  color: #353535;
  font-size: 40px;
}
.n2::after {
  content: '2';
  color: #353535;
  font-size: 40px;
}
.n3::after {
  content: '3';
  color: #353535;
  font-size: 40px;
}

.n4::after {
  content: '4';
  color: #353535;
  font-size: 40px;
}
.n5::after {
  content: '5';
  color: #353535;
  font-size: 40px;
}
.n6::after {
  content: '6';
  color: #353535;
  font-size: 40px;
}
.n7::after {
  content: '7';
  color: #353535;
  font-size: 40px;
}
.n8::after {
  content: '8';
  color: #353535;
  font-size: 40px;
}
.n9::after {
  content: '9';
  color: #353535;
  font-size: 40px;
}



.won::after {
  color: #BD022F;
}
