* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #D1DDE5;
  display: flex;
  font-family: sans-serif;
  justify-content: center;
}

.container {
  background: #303030;
  margin: 50px;
  padding: 50px;
  border-radius: 25px;
}

.title {
  text-align: center;
}

.title:hover {
    color: #F2EBD3;
}

.title span {
  color: #C4BABA;
}

.status-action {
  display: flex;
  margin-top: 25px;
  font-size: 25px;
  justify-content: space-around;
  height: 30px;
}

.status span {
  color: #C4BABA;
}

.reset {
  cursor: pointer;
}

.reset:hover {
  color: #F2EBD3;
}
.grid {
  background: #646F76;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 50px;
  border: 10px solid #646F76;
  border-radius: 10px;
}
.box {
  background: #646F76;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
  border-radius: 3px;
  cursor: pointer;
}
.cell {
  background: #D1DDE5;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 2px;
}
.cell:hover {
  background: #AED4FA;
}

.n1,
.n2,
.n3,
.n4,
.n5,
.n6,
.n7,
.n8,
.n9 {
  cursor: default;
  color: #11111;
}

.n1::after {
  content: '1';
  color: #353535;
  font-size: 40px;
}
.n2::after {
  content: '2';
  color: #353535;
  font-size: 40px;
}
.n3::after {
  content: '3';
  color: #353535;
  font-size: 40px;
}

.n4::after {
  content: '4';
  color: #353535;
  font-size: 40px;
}
.n5::after {
  content: '5';
  color: #353535;
  font-size: 40px;
}
.n6::after {
  content: '6';
  color: #353535;
  font-size: 40px;
}
.n7::after {
  content: '7';
  color: #353535;
  font-size: 40px;
}
.n8::after {
  content: '8';
  color: #353535;
  font-size: 40px;
}
.n9::after {
  content: '9';
  color: #353535;
  font-size: 40px;
}



.won::after {
  color: #BD022F;
}
